  <div class="card">
    <div class="card-header">
      <h4>Communication</h4>
    </div>
    <%= render 'teaming', review: @review, f: f %>
    <hr/>
    <%= render 'dissertation', review: @review, f: f %>
  </div>

  <br />
