  <div class="card">
    <div class="card-header">
      <h4>Personal Attitude</h4>
    </div>
    <%= render 'curiosity', review: @review, f: f %>
    <hr/>
    <%= render 'comfort_zone', review: @review, f: f %>
  </div>

  <br />
