  <div class="card">
    <div class="card-header">
      <h4>Professional Attitude</h4>
    </div>
    <%= render 'engagement', review: @review, f: f %>
    <hr/>
    <%= render 'collaboration', review: @review, f: f %>
  </div>
